.tingle-modal__close {
    background: $green;
    border-bottom: 2px dotted $white;
    height: 70px;

    @include respond-to('medium') {
        background: none;
        height: auto;
        border-bottom: 0;
    }
}

.tingle-modal-box__content {
    padding: 0;
}
