/*------------------------------------*\
    #BANNER
\*------------------------------------*/

$banner-height:                         420px !default;
$banner-container-text-bg-color:        $gray !default;

.banner {
    width: 100%;
    height: $banner-height;
}

    .banner__container {
        position: relative;
        height: $banner-height;
        float: left;
    }

    .banner__container--text {
        position: relative;
        width: 100%;
        background: $banner-container-text-bg-color;
        background-position: center center;
        background-repeat: no-repeat;

        @include respond-to('wide') {
            background-image: none !important;
            width: 40%;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $black;
            opacity: 0.6;

            @include respond-to('wide') {
                content: none;
            }
        }
    }

    .banner__container--cover {
        display: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @include respond-to('wide') {
            display: block;
            width: 60%;
        }
    }

        .banner__title {
            margin-bottom: $spacing-unit * 3;
            font-size: $font-size + 15px;
            font-weight: $font-weight-bold;
            letter-spacing: -1px;
        }

        .banner__content {
            @include center();
            width: 90%;
            color: $white;
            font-size: $font-size + 3px;
            font-weight: $font-weight-light;
            line-height: 25px;
            letter-spacing: 1px;
            text-align: center;
            z-index: 4;
        }

            .banner__delimiter {
                display: block;
                margin: 16px auto;
                width: 30px;
                height: 1px;
                background: $white;
                content: '';
            }

            .banner__description {}

            .banner__hours {
                strong {
                    font-weight: bold;
                }
            }

            .banner__action {
                margin-top: $spacing-unit * 3;
            }
