.call-us {
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
    border-top: 1px solid darken($gray--light, 8%);
    padding: $spacing-unit * 3;
    letter-spacing: 1px;
    text-align: center;
    background-color: $gray--light;
    border-bottom: 1px solid darken($gray--light, 5%);

    @include respond-to('medium') {
        position: relative;
        border-top: 0;
    }

    strong {
        display: block;
        margin-top: $spacing-unit;
        font-weight: $font-weight-bold;

        @include respond-to('medium') {
            display: inline-block;
            margin-top: 0;
        }
    }
}

    .call-us__actions {
        @include respond-to('medium') {
            display: none;
        }
    }
