/*------------------------------------*\
    #CART-SUMMARY
\*------------------------------------*/

.cart-summary {
    margin: ($spacing-unit * 3) auto;
    width: 60%;
    border: 2px solid $gray--light;
    border-radius: 5px;
}

    .cart-summary__heading {
        padding: $spacing-unit * 2;
        font-size: $font-size + 5px;
        font-weight: $font-weight-semi;
        border-bottom: 2px solid $gray--light;
    }

    .cart-summary__items {}

        .cart-summary__item {
            padding: $spacing-unit * 2;
            border-bottom: 2px solid $gray--light;
        }

            .cart-summary__item-title {
                margin-bottom: $spacing-unit / 2;
                font-weight: $font-weight-semi;
            }

            .cart-summary__item-short-description {
                font-size: $font-size - 1px;
            }

    .cart-summary__footer {
        padding: $spacing-unit * 2;
    }

        .cart-summary__footer-total {}
