/*------------------------------------*\
    #HOURS
\*------------------------------------*/

$hours-height: 65px !default;

.hours {
    position: relative;
    height: $hours-height;
}

.hours--closed {
    background: $pink;
}

.hours--opened {
    background: $green--light;
}

    .hours__content {
        @include center;
        color: $white;
        font-size: $font-size + 4px;
        font-weight: bold;
    }
