/*------------------------------------*\
    #PRODUCTS-SHOP
\*------------------------------------*/

.products-shop {}

    .products-shop__no-bullshit {
        margin-top: $spacing-unit * 4;
        color: $gray;
        font-size: $font-size + 6px;
        font-weight: $font-weight-light;
        text-align: center;
    }
