/*------------------------------------*\
    #PRODUCT-SUMMARY
\*------------------------------------*/

/**
 * 1. 70px is the height of tingle-modal-close-button in `hooks/_tingle_modal.scss`
 */

.product-summary {}

    .product-summary__details {
        padding: $spacing-unit * 3;
        color: $white;
        background-color: $green;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        min-height: calc(100vh - 70px); /* [1] */

        @include respond-to('medium') {
            min-height: auto;
            height: auto;
        }
    }


        .product-summary__title {
            margin-bottom: $spacing-unit;
            font-size: $font-size + 6px;
            font-weight: $font-weight-bold;
        }

        .product-summary__short-description {
            margin-bottom: $spacing-unit * 2;
            font-weight: $font-weight-bold;
        }

        .product-summary__dosage {
            margin-bottom: $spacing-unit * 2;
            font-weight: $font-weight-semi;
        }

        .product-summary__description {
            margin-bottom: $spacing-unit * 2;
            font-weight: $font-weight-light;
            line-height: 30px;

            p {
                text-align: justify;
                margin-bottom: $spacing-unit / 2;
            }
        }

        .product-summary__effects {
            margin-top: $spacing-unit * 2;
            margin-bottom: $spacing-unit;
            font-size: $font-size + 3px;
            font-weight: $font-weight-bold;
        }
