/*------------------------------------*\
    #PRODUCT-GRID
\*------------------------------------*/

.product-grid {
    display: flex;
    margin-top: $spacing-unit * 4;
    flex-flow: row wrap;
    justify-content: space-between;
}

    .product-grid__cell {
        margin-bottom: $spacing-unit * 2;
        width: 100%;

        @include respond-to('medium') {
            width: 48%;
        }
    }
