/*------------------------------------*\
    #SECTION
\*------------------------------------*/

.section {
    margin: 0 auto;
    width: 97%;

    @include respond-to('medium') {
        width: 100%;
    }
}
