/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

$small-breakpoint:      480px !default;
$medium-breakpoint:     760px !default;
$wide-breakpoint:       960px !default;
$x-wide-breakpoint:     1160px !default;
