/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/**
 * Color Variables
 *
 * These variables should always be aliased as Functional Variables, either at
 * the bottom of this file, or at the top of the Component SCSS that they
 * belong to. This method helps aid the quick reskinning of Components.
 */

$black:         #374252 !default;
$white:         #ffffff !default;
$red:           #ee5d5b !default;
$blue:          #3ba3ff !default;
$yellow:        #f29b34 !default;
$gray--dark:    #57606f !default;
$gray:          #666666 !default;
$gray--border:  #d8daec !default;
$gray--light:   #f1f2f6 !default;
$gray--x-light: #f7f8fa !default;
$green:         #71ba51 !default;
$green--light:  #2cc990 !default;
$red:           #e74c3c !default;
$pink:          #ff6666 !default;
