/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Stacks
 */

$font-primary:      'Montserrat', sans-serif;
$font-secondary:    'Playfair Display', serif;


/**
 * Text Sizes
 */

$font-size:         14px !default;

/**
 * Weights
 */

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold:   700 !default;
