<div class="progress-bar" data-controller="progressBar" data-progressBar-width="<%= effect['percentage'] %>%">
  <div class="progress-bar__fill" data-target="progressBar.content"></div>
  <div class="progress-bar__label"><%= effect['label'] %></div>
</div>
