<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Weed Delivery Vancouver</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'app', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= javascript_include_tag 'app' %>

</html>
